/* This is from the Lists and keys coding practise 3 Q1 */

.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

/* This is the ccbp first coding challenge on react js */

/* * {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.super-over-league-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  min-height: 100vh;
}

.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.logo-image {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .logo-image {
    width: 300px;
    height: 300px;
  }
} */




/* this is initial code styling of the react server web page  */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */